3a) Anwendung/Tools/Neuroph/neurophstudio-windows-2.91.exe
3a) Anwendung/Stockmarket-Webapp/src/main/java/de/soco/stockmarket/controller/AnnController.java
3a) Anwendung/Stockmarket-Webapp/target/classes/de/soco/stockmarket/controller/AnnController.class