body {
  background-color: #1b6d85;
}

.c3-chart-text text {
  fill: yellow;
}
.c3-chart-arc text {
  fill: red;
}

.c3 .c3-axis-x path, .c3 .c3-axis-x line, .c3 .c3-axis-y path, .c3 .c3-axis-y line  {
  stroke: white;
}
#chart .c3-line {
  stroke-width: 4px;
}

.c3-axis-y-label, .c3-axis-x-label{
  font-weight:bold;
  font-size:15pt;
}

#chart g.c3-axis-x, #chart  g.c3-axis-y {
  stroke: white;
}
